<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>Turnr</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
        <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
        <!--script src="js/less-1.3.3.min.js"></script-->
        <!--append ‘#!watch’ to the browser URL, then refresh the page. -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="img/favicon.png">
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
        <script type="text/javascript" src="js/scripts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-resource.js"></script>

    </head>
    
    <body ng-app="Turnr">

        <div class="container" ng-controller="MainController as main">

            <div class="row clearfix add-book">
                <div class="col-lg-4 col-lg-offset-4">
                    <form class="form-inline" ng-submit="main.search(searchTerm)">
                        <label>What are you reading?</label>
                        <input type="text" ng-model="main.searchTerm" placeholder="Search via GoogleBooks" typeahead="address for address in main.getBook($viewValue)" typeahead-loading="loadingLocations" class="form-control">
                        <button type="submit" class="btn btn-success">Add a Book!</button>
                    </form>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-md-4 column" ng-repeat="book in main.books | filter: { now: true }">
                    <div class="">
                    <img alt="140x140" ng-src="{{book.image}}">
                    </div>
                        <h2>
                <div>
                    Now Playing <b>Brief</b>
                </div>              
                {{book.name}}
            </h2>

<!-- gure out how to limit description to ONLY the first 25ish words. Than have a "more tab to click" -->
                    <p>{{book.description}}</p>
                    <p>
                        <div>
                            <progressbar value="book.percentCompleted"><b>{{book.percentCompleted}}%</b>
                            </progressbar>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" ng-click="main.decreaseCount(book)">Left</button>
                                <button type="button" class="btn btn-default" ng-click="main.increaseCount(book)">Right</button>
                            </div>
                        </div>
                    </p>
                    <div>
                        <hr>
                        <button class="btn btn-default" ng-click="showMenu = !showMenu">Comments</button>
                        <div ng-show="showMenu">
                            <form class="form-inline" ng-submit="main.addNewComment(book)">
                                <input type="text" class="form-control" placeholder="New Comment" ng-model="main.newComment">
                                <button type="submit" class="btn btn-success">Add a Comment!</button>
                            </form>
                        </div>
                        <hr>{{book.comments}}</div>
                    <p>
                        <button type="button" class="btn btn-default" ng-click="main.showAll('briefs')">Show All</button>
                    </p>
                </div>

                </div>
            
            
            <!-- selects template -->
            <div class="row clearfix">
                <div class="col-md-6 column" ng-repeat="select in main.selects">
                    <img alt="140x140" ng-src="{{select.image}}" ng-click="main.setNewActive(select)">
                        <h3>        
                {{select.name}}
            </h3>

                    <div class="col-sm-4">
                        <progressbar value="select.percentCompleted"><b>{{select.percentCompleted}}%</b>
                        </progressbar>
                    </div>
                </div>
            </div>
        

        </div>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controller.js"></script>
        <script type="text/javascript" src="js/factory.js"></script>
        <script type="text/javascript" src="js/factoryAPI.js"></script>


    </body>

</html>